FlowNodeRed.json
[
  {
    "id": "50e91e61.25c5e",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": ""
  },
  {
    "id": "e009e125.b16cf",
    "type": "mqtt in",
    "z": "50e91e61.25c5e",
    "name": "",
    "topic": "#",
    "qos": "2",
    "datatype": "auto",
    "broker": "9167e57f.d022e8",
    "x": 380,
    "y": 220,
    "wires": [
      [
        "a9ebe52c.105da8",
        "a21bf55a.e8f298"
      ]
    ]
  },
  {
    "id": "a21bf55a.e8f298",
    "type": "debug",
    "z": "50e91e61.25c5e",
    "name": "DEBUG 1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 560,
    "y": 320,
    "wires": []
  },
  {
    "id": "e3126906.5db368",
    "type": "mysql",
    "z": "50e91e61.25c5e",
    "mydb": "e8970b7c.6d5348",
    "name": "",
    "x": 740,
    "y": 220,
    "wires": [
      []
    ]
  },
  {
    "id": "a9ebe52c.105da8",
    "type": "function",
    "z": "50e91e61.25c5e",
    "name": "",
    "func": "var responseList = [];\nvar auxList = msg.payload.split(`/`);\nmsg.topic=\"INSERT INTO blescan (uuid, rssi) VALUES \";\nauxList.splice(0,1);\n//auxList.pop();\nif(auxList.length>0&&auxList[0]!=\"x\" && auxList[0]!==''){\n    auxList.forEach(function(item){\n     //   if(item!==''){\n     //       responseList.push(item);\n       // }\n        \n    var list = item.split(',');\n    if(list[0]!==''&& list[1]!==''){\n            responseList.push(list[0]);\n       if(!list[1]){\n                responseList.push(0);\n           }else{\n              responseList.push(list[1]);\n           }\n    }\n    msg.topic+=\"(?,?),\";\n   \n});\nmsg.topic=msg.topic.substring(0,msg.topic.length-1);\nmsg.payload=responseList;\nreturn msg;\n}\n",
    "outputs": 1,
    "noerr": 0,
    "x": 550,
    "y": 220,
    "wires": [
      [
        "e3126906.5db368",
        "ba80a9da.f707d8"
      ]
    ]
  },
  {
    "id": "ba80a9da.f707d8",
    "type": "debug",
    "z": "50e91e61.25c5e",
    "name": "DEBUG 2",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 780,
    "y": 320,
    "wires": []
  },
  {
    "id": "9167e57f.d022e8",
    "type": "mqtt-broker",
    "z": "",
    "name": "mosquittoPi",
    "broker": "192.168.1.101",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "e8970b7c.6d5348",
    "type": "MySQLdatabase",
    "z": "",
    "host": "127.0.0.1",
    "port": "3306",
    "db": "animaltrackerBD",
    "tz": ""
  }
]